 <h1><%= @topic.name %></h1>
 
 
 <%= @posts.each do |post| %>
  <%= post.title %>
 <% end %>

  <small>
   <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
   submitted <%= time_ago_in_words(post.created_at) %> ago by
   <%= post.user.name %></br>
   <%= post.comments.count %> Comments
   </small>
   <% if policy(@topic).destroy? %>
   <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
   <% end %>