 <h1><%= @topic.name %></h1>
 
 
 <%= @posts.each do |post| %>
  <%= post.title %>
 <% end %>

  <small>
   <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
   submitted <%= time_ago_in_words(post.created_at) %> ago by
   <%= post.user.name %></br>
   <%= post.comments.count %> Comments
   </small>
 